body {
    background: #000;
}

.slogan {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    font-family: "Noto Sans TC", sans-serif;
    color: #fff;
}

.slogan::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: calc(50% - 140px);
    width: 0;
    height: 6px;
    border-left: 100px solid #1072c2;
    border-right: 180px solid #fff;
}

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 9;
}

.header .wrap {
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header .menu {
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 600;
    font-family: "Noto Sans TC", sans-serif;
}

.header .menu li {
    text-align: center;
    transition: 0.5s;
}

.header .menu li:hover {
    color: rgb(42, 42, 255);
}

.header .menu .en {
    font-size: 10px;
    text-transform: uppercase;
    font-family: "Agbalumo", system-ui;
}

#join-form {
    height: 100vh;
    background-color: #414141;
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#join-form::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #00000048;
    position: absolute;
    top: 0;
    left: 0;
}

#join-form .pos {
    position: relative;
    z-index: 2;
    width: 100%;
}

#join-form .wrap {
    display: flex;
    min-height: 300px;
    background: rgba(14, 50, 80, 0.9);
    color: #fff;
}

#join-form .wrap>div {
    width: 50%;
    padding: 20px;
    position: relative;
}

#join-form .wrap>div:first-child::after {
    content: '';
    position: absolute;
    right: 0;
    top: 20px;
    border: 2px dashed #fff;
    height: calc(100% - 40px);
}

#join-form .content {
    line-height: 30px;
    font-family: "Noto Sans TC", sans-serif;
    text-align: justify;
}

#join-form .form-item {
    margin-bottom: 15px;
    position: relative;
}

#join-form .form-item input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 0;
    outline: 0;
    padding: 0 50px;
    font-size: 18px;
}

#join-form .form-item .form-icon {
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 2;
    display: flex;
    color: #3a3a3a;
    height: 100%;
    align-items: center;
}

#join-form .form-button {
    text-align: right;
}

#join-form .form-button .btn {
    padding: 8px 10px;
    border: 0;
    background: rgb(202, 15, 202);
    color: #fff;
    font-size: 18px;
    font-family: "Noto Sans TC", sans-serif;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.4s;
}

#join-form .form-button .btn:hover {
    background: rgb(245, 54, 245);
}

#courses {
    padding-top: 100px;
    padding-bottom: 30px;
    background-image: url(../images/process.jpeg);
    background-size: cover;
    position: relative;
    min-height: 500px;
}

#courses::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0000007c;
}

#courses .wrap {
    position: relative;
    z-index: 2;
}

.flow {
    padding: 50px 0;
    position: relative;
}

.flow::after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    border: 2px dashed #fff;
    top: 0;
    left: calc(50% - 2px);
}

.flow .item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-bottom: 50px
}

.flow .item .circle {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 30px;
}

.flow .item .tip {
    position: absolute;
    left: calc(50% + 50px);
    background: rgb(26, 69, 189);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.flow .item:nth-child(even) .tip {
    right: calc(50% + 50px);
    left: unset;
}

.flow .item:nth-child(even) .circle {
    background: yellow;
}