.clock {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    width: 500px;
    height: 500px;
    border-radius: 3000px;
    border: 5px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dot {
    width: 50px;
    height: 50px;
    border-radius: 300px;
    background-color: #fff;
    position: relative;
    z-index: 9;
}

.hours {
    position: absolute;
    width: 5px;
    height: calc(50% - 50px);
    top: 50px;
    background-color: yellow;
    z-index: 2;
    transform: rotate(100deg);
    transform-origin: bottom;
}

.minute {
    position: absolute;
    width: 5px;
    height: calc(50% - 60px);
    top: 60px;
    background-color: rgb(68, 112, 179);
    z-index: 3;
    transform: rotate(145deg);
    transform-origin: bottom;
}

.second {
    position: absolute;
    width: 5px;
    height: calc(50% - 80px);
    top: 80px;
    background-color: rgb(180, 99, 153);
    z-index: 4;
    transform: rotate(80deg);
    transform-origin: bottom;
}

.clock .wrap .num {
    position: absolute;
    color: #fff;
    z-index: 1;
    height: 100%;
    padding-top: 10px;
}

.clock .wrap .num.num-01 {
    transform: rotate(30deg);
}

.clock .wrap .num.num-02 {
    transform: rotate(60deg);
}

.clock .wrap .num.num-03 {
    transform: rotate(90deg);
}

.clock .wrap .num.num-04 {
    transform: rotate(120deg);
}

.clock .wrap .num.num-05 {
    transform: rotate(150deg);
}

.clock .wrap .num.num-06 {
    transform: rotate(180deg);
}

.clock .wrap .num.num-07 {
    transform: rotate(210deg);
}

.clock .wrap .num.num-08 {
    transform: rotate(240deg);
}

.clock .wrap .num.num-09 {
    transform: rotate(270deg);
}

.clock .wrap .num.num-10 {
    transform: rotate(300deg);
}

.clock .wrap .num.num-11 {
    transform: rotate(330deg);
}